<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>IP-XACT.js</title>

        <!-- Bootstrap core CSS -->
        <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="cover.css" rel="stylesheet">

        <link rel="stylesheet/less" type="text/css" href="styles.less" />
        <script src="less.js" type="text/javascript"></script>

    </head>

    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">IP-XACT.js</h3>
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li class="active"><a data-toggle="tab" href="#start">Start</a></li>
                                    <li><a data-toggle="tab" href="#features">Features</a></li>
                                    <li><a data-toggle="tab" href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div id="start" class="tab-pane fade in active">
                            <div class="inner cover">
                                <h1 class="cover-heading">Starting</h1>
                                <p class="lead">Please choose work mode:</p>
                                <p class="lead">
                                    <a href="index.html?mode=new" class="btn btn-lg btn-default">New file</a>&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-lg btn-default" id="file-choose">Existing file</a>
                                <input id="file-input" type="file" name="name" style="display: none;" />
                                </p>
                            </div>
                        </div>


                        <div id="features" class="tab-pane fade">
                            <div class="inner cover">
                                <h1 class="cover-heading">Features</h1>
                                <p class="lead">Please choose work mode:</p>
                            </div>
                        </div>



                        <div id="contact" class="inner cover tab-pane fade">
                            <h1 class="cover-heading">Contact</h1>
                            <p class="lead">Please choose work mode:</p>
                        </div>
                    </div>


                    <div class="mastfoot">
                        <div class="inner">
                            <p>IP-XACT.js by <a href="http://kpankov.com/" target="_blank">kpankov</a></p>
                            <p class="icons">
                                <a href="https://github.com/kpankov" class="fa fa-github" target="_blank"></a> 
                                <a href="https://gitlab.com/kpankov" class="fa fa-gitlab" target="_blank"></a> 
                                <a href="https://twitter.com/kspzel" class="fa fa-twitter" target="_blank"></a> 
                                <a href="https://www.instagram.com/kpankov_dev/" class="fa fa-instagram" target="_blank"></a> 
                                <a href="http://www.linkedin.com/in/konstantin-pankov" class="fa fa-linkedin" target="_blank"></a>
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="targetBlankPatch.js"></script>
        <script>
            $('#file-choose').on('click', function () {
                $('#file-input').trigger('click');
            });
            
            var fileInput = document.querySelector("#file-input");

            fileInput.addEventListener("change", function (event) {
                try {
                    filePath = fileInput.files[0].path;
                } catch (err) {
                    alert('Empty file!\nDebug:\n' + err);
                    return;
                }
                document.location.href = "index.html?mode=open&path=" + filePath;
            });
        </script>
    </body>
</html>
