<!DOCTYPE html>
<html>
    <head>
        <title>IP-XACT.js</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="styles.css">

        <script src="../app/app.js"></script>
        <script src="tabs.js"></script>
    </head>
    <body>

        <header>
            <table style="width: 100%; vertical-align: middle; height: 60px;">
                <tr>
                    <td style="width: 130px; text-align: center;">IP-XACT.js</td>
                    <td style="text-align: right;">
                        <form>
                            <input type="file" name="file" id="file" class="inputfile" />
                            <label for="file">Choose a file</label>
                            <input type="button" value="Save" style="margin-right: 10px;"> 
                        </form>
                    </td>
            </table>
        </header>

        <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:130px">
            <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Info')">Info</button>
            <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Registers')">Registers</button>
        </div>

        <div style="margin-left:130px">

            <div id="Info" class="w3-container tab" style="display:none">
                <h2>Info</h2>
                <form id="ipxact_info">
                    <table>
                        <tbody>
                            <tr><td><label>Vendor: </label></td><td><input type="text" id="ipxact_vendor"></td></tr>
                            <tr><td><label>Library: </label></td><td><input type="text" id="ipxact_library"></td></tr>
                            <tr><td><label>Name: </label></td><td><input type="text" id="ipxact_name"></td></tr>
                            <tr><td><label>Version: </label></td><td><input type="text" id="ipxact_version"></td></tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div id="Registers" class="w3-container tab" style="display:none">
                <h2>Registers</h2>
                <table id="registersTable" class="table-registers">
                    <tbody>
                        <tr><th>Name</th><th>Offset</th><th>Size</th></tr>
                    </tbody>
                </table>
            </div>

        </div>


        <script>
            function registersTableAddRow(name, offset, size) {
                // Get a reference to the table
                var tableRef = document.getElementById("registersTable");

                // Insert a row in the table at row index 0
                var newRow = tableRef.insertRow(-1);

                // Insert a cell in the row at index 0
                var newCell0 = newRow.insertCell(0);
                var newCell1 = newRow.insertCell(1);
                var newCell2 = newRow.insertCell(2);

                // Append a text node to the cell
                newCell0.appendChild(document.createTextNode(name));
                newCell1.appendChild(document.createTextNode(offset));
                newCell2.appendChild(document.createTextNode(size));
            }

            ////////////////////////////////////////////////////////////////////

            document.querySelector("html").classList.add('js');

            var fileInput = document.querySelector(".inputfile");

            fileInput.addEventListener("change", function (event) {
                try {
                    filePath = fileInput.files[0].path;
                } catch (err) {
                    alert('Empty file!\nDebug:\n' + err);
                    return;
                }
                openTab(event, 'Info');
                loadData();
            });

            ////////////////////////////////////////////////////////////////////

            var ipxactInfoForm = document.getElementById("ipxact_info");
            var ipxactVendorField = document.getElementById("ipxact_vendor");
            var ipxactLibraryField = document.getElementById("ipxact_library");
            var ipxactNameField = document.getElementById("ipxact_name");
            var ipxactVersionField = document.getElementById("ipxact_version");

            ipxactInfoForm.addEventListener('change', function (event) {
                currentData.elements[0]['elements'].forEach(function (element) {
                    if (element.name === ipxactType + ':vendor')
                        element.elements[0].text = ipxactVendorField.value;
                    if (element.name === ipxactType + ':library')
                        element.elements[0].text = ipxactLibraryField.value;
                    if (element.name === ipxactType + ':name')
                        element.elements[0].text = ipxactNameField.value;
                    if (element.name === ipxactType + ':version')
                        element.elements[0].text = ipxactVersionField.value;
                });
                saveData();
            });

            ////////////////////////////////////////////////////////////////////

            function loadData() {
                var xml = fs.readFileSync(filePath, 'utf8');
                populateData(null, xml);
            }

            function saveData() {
                var xml = convert.js2xml(currentData, {spaces: 2});
                fs.writeFileSync(filePath, xml);
                console.log('Saved');
            }

            function populateData(form, xml) {
                openTab(event, 'Info');
                document.getElementsByClassName("tablink")[0].classList.add('w3-red');

                var options = {ignoreComment: true, alwaysChildren: true};
                currentData = convert.xml2js(xml, options);

                //fs.writeFileSync('ipxactTestOut.json', JSON.stringify(currentData, null, 2));


                var ipxactType = "ipxact";
                //var ipxactType = "spirit";

                currentData.elements[0]['elements'].forEach(function (element) {
                    console.log(element.type + ' ' + element.name);

                    if (element.name === ipxactType + ':vendor')
                        ipxactVendorField.value = element.elements[0].text;

                    if (element.name === ipxactType + ':library')
                        ipxactLibraryField.value = element.elements[0].text;

                    if (element.name === ipxactType + ':name')
                        ipxactNameField.value = element.elements[0].text;

                    if (element.name === ipxactType + ':version')
                        ipxactVersionField.value = element.elements[0].text;

                    if (element.name === ipxactType + ':memoryMaps') {
                        element.elements.forEach(function (element2) {
                            element2.elements.forEach(function (element3) {
                                element3.elements.forEach(function (element4) {
                                    if (element4.name === ipxactType + ':register') {
                                        element4.elements.forEach(function (element5) {
                                            if (element5.name === ipxactType + ':name')
                                                registerName = element5.elements[0].text;
                                            if (element5.name === ipxactType + ':description')
                                                registerDesc = element5.elements[0].text;
                                            if (element5.name === ipxactType + ':addressOffset')
                                                registerOffset = element5.elements[0].text;
                                            if (element5.name === ipxactType + ':size')
                                                registerSize = element5.elements[0].text;
                                            if (element5.name === ipxactType + ':access')
                                                registerAccess = element5.elements[0].text;
                                        });
                                        registersTableAddRow(registerName, registerOffset, registerSize);
                                        console.log(registerAccess);
                                    }
                                });
                            });
                        });
                    }
                });
            }
        </script>
    </body>
</html>
